main{
	max-width: 700px;
	min-width: 240px;
	height: 100%;
	margin: auto;
	background: rgb(0,135,46);
background: linear-gradient(153deg, rgba(0,135,46,1) 0%, rgba(9,121,24,1) 14%, rgba(0,255,196,1) 100%);
	box-shadow: 2px 2px 0 black;
	border-radius: 5px;
	padding: 10px;
	font-family: arial, sans serif;
}

h1{
	text-align: center;
	padding: 20px 0px 0px 0px;
}

#btInicia{
	display: block;
	height: 100%;
	font-size: 1.5em;
	color: red;
	margin: 0px auto 10px auto;	
}

#impr{
	height: 45px;
	width: 70%;
	background-color: rgba(100,125,96,0.7) ;	
	margin: 0px auto 10px auto;	
	text-align: center;
	letter-spacing: 0.4rem;
	font-weight: bold;
	font-size: 1.8em;
	border: 1px solid black;
	padding: 1%;
}

#opcLetras{
	
	max-width: 600px;
	margin: auto;
}

.word{
	background: green;
	display: inline-block;
	margin: auto;
	width: 40px;
	text-align: center;
	font-size: 1.8em;
	cursor: pointer;
	transition-duration: 0.4s;
	padding: 2px;
}

.word:hover{
	background: blue;
	
}